.env
/data
.DS_Store
.pycharm
.idea
.bashrc
.cache/
codeship.aes
*.swp
*~
*.pyc
docs/_build/*
*.egg-info
.cache
celerybeat-schedule
.env*
.private*
.DS_Store
*.egg-info/
.installed.cfg
*.egg
*.dump
*.dump.gz
test-dump

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
node_modules
bower_components
celerybeat.pid

Docs/
media/
