{% extends 'feria/base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5>Foros</h5>
        </div>
    </div>
    <div class="panel panel-flat">
        <div class="panel-heading">Anuncios</div>
        <div class="panel-body">
            <div class="panel panel-flat">
                <div class="panel-heading">Mensaje de Prueba</div>
                <div class="panel-body">
                    <p>Contenido del mensaje de prueba</p>
                    <div class="panel panel-flat">
                        <div class="panel panel-body">Última respuesta de prueba</div>
                    </div>
                </div>
            </div>
            <div class="panel panel-flat">
                <div class="panel-heading">Mensaje de Prueba</div>
                <div class="panel-body">
                    <p>Contenido del mensaje de prueba</p>
                    <div class="panel panel-flat">
                        <div class="panel panel-body">Última respuesta de prueba</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
