{% extends 'feria/base.html' %}
{% load static %}

{% block js %}
<script type="text/javascript" src="{% static 'feria/js/plugins/editors/summernote/summernote.min.js' %}"></script>
<script type="text/javascript" src="{% static 'feria/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('.summernote').summernote();
    });
</script>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <span class="text-semibold"><a href="/foros/" style="color: black;">Foros</a></span> - <a href="/foros/{{m.forum.id}}/" style="color: black;">{{ m.forum.name }}</a> - <a href="/foros/mensaje/{{m.id}}/" style="color: black;">{{ m.title }}</a>
            </h4>
        </div>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6>
                    <a href="/foros/mensaje/{{ m.id }}/" class="text-bold">{{ m.title|title }}</a>
                </h6>
            </div>
            <div class="panel-body">
                {{ m.content }}
                {% for a in answers %}
                <div class="panel panel-plain mt-20">
                    <div class="panel-heading">
                        <span class="text-semibold">{{ a.user.username|title }}</span><span class="text-muted"> - {{ a.updated_at }}</span>
                    </div>
                    <div class="panel-body">
                        {{ a.content|safe }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="panel panel-plain">
                <div class="panel-heading">
                    <h6>Nueva Respuesta</h6>
                </div>
                <div class="panel-body">
                    <textarea class="summernote" name="nessage_text"></textarea>
                    <button type="submit" class="btn btn-primary legitRipple">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
